name: Auto Release

on:
  pull_request:
    types:
      - closed

jobs:
  bump_version:
    if: |
      github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.bump_version.outputs.tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install dependencies
        run: npm ci

      - name: Bump version
        id: bump_version
        run: |
          npm version patch -m "chore(release): %s"
          echo "tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT

      - name: Push new version and tag
        run: |
          git push origin master
          git push origin --tags

  call_release:
    needs: bump_version
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
      id-token: write
    with:
      tag: ${{ needs.bump_version.outputs.tag }}
    secrets: inherit
